services:
  pinger:
    image: ghcr.io/kerrj/pinger:latest
    container_name: pinger
    restart: unless-stopped
    environment:
      - PUSHOVER_USER_KEY=${PUSHOVER_USER_KEY}
      - PUSHOVER_API_TOKEN=${PUSHOVER_API_TOKEN}
      - PING_TYPE=${PING_TYPE:-icmp}
      - PING_INTERVAL=${PING_INTERVAL:-120}
      - PING_FAIL_INTERVAL=${PING_FAIL_INTERVAL:-60}
      - FAILURE_THRESHOLD=${FAILURE_THRESHOLD:-12}
      - FAILURE_CHECK_INTERVAL=${FAILURE_CHECK_INTERVAL:-5}
      - ALERT_OFFLINE_INTERVAL=${ALERT_OFFLINE_INTERVAL:-1800}
      - ALERT_ONLINE_INTERVAL=${ALERT_ONLINE_INTERVAL:-0}
    volumes:
      - ${CSV_PATH:-/opt/pinger/targets.csv}:/app/targets.csv:ro
      - /etc/localtime:/etc/localtime:ro
